@import '../../../../resources/css/variables.less';

.import-mnemonic-page-wrapper {
  display: flex;
  justify-content: center;
  height: 100%;

  .import-mnemonic-container {
    width: 1200px;
    min-height: 100px;
  }

  .right-tip-container {
    // margin-top: 30px;
    // width: 410px;
    // min-height: 100px;
    margin-top: 30px;
    width: 410px;
    min-height: 100px;
  }
}