.ivu-table-wrapper {
    max-height: 300px;
    box-sizing: border-box;

    .ivu-table-header {
        // height: 0.35rem;
        // line-height: 0.35;
        // padding-top: 0.05rem;

        .ivu-table-cell {
            overflow: visible;
        }
    }

    .ivu-table-wrapper .ivu-table th {
        height: 100%;
    }

    .ivu-table-row {
        box-sizing: border-box;
        height: 0.4rem;
    }

    // .ivu-table-header thead tr th {
    //     padding-left: 1.2rem;
    // }

    .ivu-table td, .ivu-table th {
        height: 0.4rem;
    }
}
